node_modules/*
data/*
!data/captcha-images/*.jpg
!data/datasheets/*.txt
!data/geoip/*.txt
!data/tera-icons/*.txt
logs/*
sessions/*
public/updates/*
share/dataitems/*
config/slsOverride.js
package-lock.json
.env
Thumbs.db
*.tmp