node_modules/*
config/*.js
!config/*.default.js
data/*
!data/captcha-images/*.jpg
!data/datasheets/*.txt
!data/geoip/*.txt
!data/shop-slides-bg/*.txt
!data/tera-icons/*.txt
logs/*
sessions/*
src/plugins/*
public/updates/*
public/patch/*
!public/patch/.gitkeep
share/dataitems/*
config/slsOverride.js
package-lock.json
.env
Thumbs.db
*.tmp