.custom-select {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 250px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	margin: 10px 0;
}

.custom-select-selected {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #051423;
	color: white;
	padding: 0 5px;
	height: 28px !important;
	border: 1px solid #13426D;
	cursor: pointer;
	border-radius: 4px;
}

.custom-select-arrow {
	margin: 0;
	margin-left: 10px;
	margin-top: -4px;
	font-size: 24px;
	line-height: 1px;
	color: white;
}

.custom-select-options {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #fff;
	border: 1px solid #767676;
	z-index: 1000;
	max-height: 200px;
	overflow-y: auto;
	z-index: 1000;
}

.custom-select-option {
	padding: 5px;
	cursor: pointer;
	background-color: black;
	color: white;
	font-weight: normal;
}

.custom-select-option:hover {
	display: block;
	padding: 4px;
	border: 1px solid #767676;
}

.custom-select-disabled {
	opacity: 0.5;
	pointer-events: none;
}