<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title">Welcome</h1>
	</div>
	<div class="alert alert-secondary">
		Choose an action from the menu on the left.
	</div>
</article>
