<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title">Your Profile</h1>
	</div>
	<section class="section">
		<!--div class="row"-->
		<div class="row sameheight-container">
			<div class="col-md-6">
				<div class="card sameheight-item">
					<div class="card-block">
						<div class="card-title-block">
							<h3 class="title">Session information</h3>
						</div>
						<section>
							User login name: <strong><%= session.login %></strong>
						</section>
						<section>
							Authentication type: <strong><%= session.sessionKey ? "STEER" : "QA Login" %></strong>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>