<header class="header">
	<div class="header-block header-block-collapse d-lg-none d-xl-none">
		<button class="collapse-btn" id="sidebar-collapse-btn">
			<i class="fa fa-bars"></i>
		</button>
	</div>
	<div class="header-block header-block-search"></div>
	<div class="header-block header-block-buttons">
		<a href="#" class="btn btn-sm header-btn"><i class="fa fa-link"></i> <span>WebApp Panel</span></a>
		<a href="#" class="btn btn-sm header-btn"><i class="fa fa-link"></i> <span>Box System Panel</span></a>
		<a href="#" class="btn btn-sm header-btn"><i class="fa fa-link"></i> <span>Steer Server Panel</span></a>
	</div>
	<div class="header-block header-block-nav">
		<ul class="nav-profile">
			<li class="profile dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="name"><%= session.login %></span>
				</a>
				<div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
					<a class="dropdown-item" href="profile"><i class="fa fa-user icon"></i> Profile</a>
					<a class="dropdown-item" href="logout"><i class="fa fa-power-off icon"></i> Logout</a>
				</div>
			</li>
		</ul>
	</div>
</header>