<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <b>TERA API</b> Admin Panel
            </div>
        </div>
        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                <li><a href="home"><i class="fa fa-home"></i> Dashboard</a></li>
                <li><a href="profile"><i class="fa fa-user"></i> Profile</a></li>
                <li>
                    <a href=""><i class="fa fa-desktop"></i> Test Elements <i class="fa arrow"></i></a>
                    <ul class="sidebar-nav open">
                        <li><a href="#">Foo</a></li>
                        <li><a href="#">Bar</a></li>
                        <li><a href="test">Test</a></li>
                        <li><a href="#">My section</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>