<div class="well sidebar-nav">
	<ul class="nav nav-list">
	<%_ categories.forEach(category => { _%>
		<li class="<%= category.id == active ? "active" : "" %>">
			<a href="#" data-id="<%= category.get("id") %>" class="menu_Link"><%= category.get("strings")[0]?.get("title") || __("[unknown]") %></a>
		</li>
	<%_ }) _%>
	</ul>
</div>
<script type="text/javascript">
	$(function() {
		$('.menu_Link').click(function() {
			loadContent("Catalog", { category: $(this).data("id") });
			loadMenu($(this).data("id"));
		});
	});
</script>