@charset "utf-8";
/* CSS Document */
#abgneBlock {
	position: relative;
	width: 490px;
	height: 162px;
}
#abgneBlock #player {
	position: relative;
	overflow: hidden;
	height: 100%;
}
#abgneBlock ul.list {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	width: 460px;
	height: 100%;
}
#abgneBlock ul.list li {
	float: left;
	width: 100%;
	height: 100%;
}
#abgneBlock .list img {
	width: 100%;
	height: 100%;
	border: 0;
}
#abgneBlock ul.playerControl {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0px;
	right: 0px;
}
#abgneBlock ul.playerControl li {
	color: #5d64a9;
	background-color:#141d44;
	text-align: center;
	line-height: 22px;
	width: 22px;
	height: 22px;
	font-size: 14px;
	cursor: pointer;
	margin-bottom:6px;
}
#abgneBlock ul.playerControl li.current {
	color: #fefeff;
	background-color:#2b46b8;
}
