@charset "utf-8";
.gamestart {
	float: left;
	margin-top: -15px;
}
.gamestart .btn {
	cursor: pointer;
	width: 240px;
	height: 90px;
	border-width: 0;
	display: block;
	text-decoration: -9999px;
	background-image: url(../images/ru/btn-game-start.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-color: transparent;
	background-position: 0px 0px;
}
.gamestart .btn:hover {
	background-position: 0px -100px;
}
.gamestart .btn-gamestart {
	background-image: url(../images/ru/btn-game-start.png);
}
.gamestart .btn-wrong {
	background-image: url(../images/ru/btn-wrong.png);
}
.gamestart .btn-wait {
	background-image: url(../images/ru/btn-wait.png);
}
.gamestart .btn-update {
	background-image: url(../images/ru/btn-update.png);
}
.gamestart .btn-break {
	background-image: url(../images/ru/btn-break.png);
}
.gamestart .btn-repair {
	background-image: url(../images/ru/btn-repair.png);
}
