@charset "utf-8";
/* CSS Document */
/* http: //meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: #000;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-size: 12px;
	color: #fff;
}
body, button {
	font-family: Helvetica, Arial, sans-serif;
}
button {
	outline: none;
}
a {
	text-decoration: none;
	color: #fff;
}
.loader {
	background-image: url(../images/loader.gif);
	background-size: 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	margin: 200px auto;
}
.wrap {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 325px;
	height: 500px;
	/*margin: 0px auto 0px;*/
	position: relative;
	padding-top: 1px;
}
.form-horizontal {
	width: 220px;
	margin: 105px auto 0;
	display: block;
}
.form-control {
	background-image: url(../images/form.png);
	background-repeat: no-repeat;
	width: 220px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #303030;
	margin-bottom: 8px;
	border-width: 0;
	background-color: transparent;
	padding-left: 50px;
}
.form-control.form-email {
	background-position: 0 -100px;
}
.form-control.form-password {
	background-position: 0 -50px;
}
.checkbox {
	float: left;
	line-height: 30px;
}
.forgot-password {
	float: right;
	line-height: 30px;
	padding-right: 5px;
}
.forgot-password a {
	text-decoration: underline;
	color: #8ea8df;
}
.forgot-password a:hover {
	text-decoration: none;
	color: #8ea8df;
}
.quick_link {
	float: right;
	line-height: 30px;
}
.btn-close {
	cursor: pointer;
	width: 22px;
	height: 22px;
	border-width: 0;
	background-image: url(../images/btn-close1.png);
	background-position: 0px 0px;
	position: absolute;
	top: 15px;
	right: 25px;
	text-indent: -9999px;
	background-color: transparent;
}
.btn-close:hover {
	background-position: 0px -22px;
}
.grecaptcha-badge { 
	visibility: hidden;
	top: -1000px;
}